body{
	background: #303030;
	color: #f5f5f5;
	text-shadow: 1px 1px 1px #000;
	text-align: left;
}

h1{
	text-align: center;
}

#global-wrapper{
	width: 75%;
	height: 90%;
	background: #161616;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px;
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px 0 #000;
	border-top: solid #000 1px;
	border-left: solid #555 1px;
	border-bottom: solid #555555 1px;
	border-right: solid #555555 1px;
}

#board{
	height: 500px;
	width: 500px;
	background-color: #fff;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border: 15px solid #663300;
}

.square{
	float: left;
	height: 50px;
	width: 50px;
}

.white{
	background-color: #ffff99;
}

.black{
	background-color: #8f0000;
}

.selected{
	background-color: #0033cc !important;
	border-radius: 2px;
	box-shadow: inset 0px 0px 2px 2px #4d70db;
}

.move{
	background-color: #009933 !important;
	border-radius: 2px;
	box-shadow: inset 0px 0px 2px 2px #30ac59;
}

.pawn{
	width: 50px;
	height: 50px;
}
